
#karte {
    position: absolute;
    z-index: 9;
    color: #ffffff;
    font-size: larger;
    font-weight: bold;
    text-align: center;

    background-color: rgba(200,200,200,0.5);
    background-image: url(/media/koalabar.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    border: 1px solid #d3d3d3;

    border-radius: 25px;
    width: 90%;
    height: 90%;
    inset: 0;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#karte:hover {
    cursor: move;
}
#karte:active {
    cursor: grab;

   /* -webkit-box-shadow:0 0 20px green; */
    -moz-box-shadow: 0 0 20px white; 
    box-shadow:0 0 20px green; 
}


#karte_text {
   color: #ffffff; 
}


#tabelle_screen {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    /*margin-top: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;*/
    text-align: center;
}

#td_mitte {
    position: relative;
    
   
}

.hover_td {
    width: 35%;
}

.hover_td:active {
    background-color: green;
}