{% extends "master.html" %}
{% load static %}

{% block head %}
    <title>Menü</title>
    <link rel="stylesheet" href="{% static 'style_general.css' %}">
    <link rel="stylesheet" href="{% static 'style_menu.css' %}">
{% endblock %}

{% block content %}

    <div class="navi_bar">
        <a class="current_tab" href="">Menü</a>
        <a href="">Listen</a>
        <a href="">Auswahl</a>
        <a href=""></a>
    </div>

    <table class="auswahl">
        <tr>
            <td class="auswahl_td">
                <a href="/lists/">Listen</a> 
            </td>
            <td class="auswahl_td">
                <a href="/rate/">vorschläge</a>
            </td>
            <td class="auswahl_td">
                <a href="">bla</a>
            </td>

        </tr>
        
    </table>
   
{% endblock %}