{% extends "master.html" %}
{% load static %}

{% block head %}
    <title>Menü</title>
    <link rel="stylesheet" href="{% static 'style_general.css' %}">
    <link rel="stylesheet" href="{% static 'style_menu.css' %}">
    <meta name="viewport" content="width=device-width, 
    user-scalable=no">
{% endblock %}

{% block content %}

<div class='image'><span>Tabeas <br/> coolere <br/> Liste <br/></span></div>
<div class='content'>

    <ul class="auswahl">
       
            <a href="/lists/">
                <li class="auswahl_li">
                Listen 
                </li>
            </a>
            <a href="/rate/">
                <li class="auswahl_li">
                Vorschläge
                </li>
            </a>
            <li class="auswahl_li">
                <a href="">bla</a>
            </li>

        
        
    </ul>

</div>
{% endblock %}