{% extends "master.html" %}
{% load static %}

{% block head %}
    <title>Menü</title>
    <link rel="stylesheet" href="{% static 'style_general.css' %}">
    <script type="text/javascript" src="{% static 'script_liste.js' %}" defer></script>
    
{% endblock %}

{% block content %}

    <div class="navi_bar">
        <a class="current_tab" href="">Menü</a>
        <a href="">Listen</a>
        <a href="">Auswahl</a>
        <a href=""></a>
    </div>
    <h1>Alle Listen<input id="add_btn"  type="button" value="+" onclick="formularU('liste_form')"></h1>

    <form id="liste_form" method="post" action="" style="display: none;">
        {% csrf_token %}
        <table>
            {{ListeForm}}

        </table>
        <input type="submit" value="Submit">
    </form>

    <ul>
        {% for x in allelisten %}
            <li><a href="{{x.id}}/">{{x.name}}</a></li>
        {% endfor %}
    </ul>
   
{% endblock %}